@model NutriZeka.UI.Dtos.UserDtos.UserLoginDto
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr" class="light-style customizer-hide" dir="ltr" data-theme="theme-default">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Giriş Yap | NutriZeka Admin</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/assets/vendor/fonts/boxicons.css" />

    <link rel="stylesheet" href="~/assets/vendor/css/core.css" class="template-customizer-core-css" />
    <link rel="stylesheet" href="~/assets/vendor/css/theme-default.css" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="~/assets/css/demo.css" />
    <link rel="stylesheet" href="~/assets/vendor/css/pages/page-auth.css" />

    <script src="~/assets/vendor/js/helpers.js"></script>
    <script src="~/assets/js/config.js"></script>
</head>

<body>
    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner">
                <div class="card">
                    <div class="card-body">
                        <div class="app-brand justify-content-center">
                            <a href="/" class="app-brand-link gap-2">
                                <span class="app-brand-logo demo">
                                    <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M13.7918663,0.358365126 L3.39788168,7.44174259 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.68998853,16.2305145 1.09562888,17.7872135 3.12357076,19.2293357 C3.8146334,19.7207684 5.32369333,20.3834223 7.65075054,21.2172976 L7.59773219,21.2525164 L2.63468769,24.5493413 C0.445452254,26.3002124 0.0884951797,28.5083815 1.56381646,31.1738486 C2.83770406,32.8170431 5.20850219,33.2640127 7.09180128,32.5391577 C8.347334,32.0559211 11.4559176,30.0011079 16.4175519,26.3747182 C18.0338572,24.4997857 18.6973423,22.4544883 18.4080071,20.2388261 C17.963753,17.5346866 16.1776345,15.5799961 13.0496516,14.3747546 L10.9194936,13.4715819 L18.6192054,7.984237 L13.7918663,0.358365126 Z" fill="#696cff"></path>
                                    </svg>
                                </span>
                                <span class="app-brand-text demo text-body fw-bolder" style="text-transform: capitalize;">NutriZeka</span>
                            </a>
                        </div>

                        <h4 class="mb-2">Admin Paneline Hoş Geldiniz! 👋</h4>
                        <p class="mb-4">Yönetime başlamak için lütfen giriş yapın.</p>

                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="alert alert-danger d-flex align-items-center" role="alert">
                                <i class="bx bx-error-circle me-2"></i>
                                <div>@ViewBag.ErrorMessage</div>
                            </div>
                        }

                        <form id="formAuthentication" class="mb-3" asp-action="Login" method="POST">
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label">E-Posta veya Kullanıcı Adı</label>
                                <input type="text" class="form-control" asp-for="Email" placeholder="admin@nutrizeka.com" autofocus required />
                            </div>

                            <div class="mb-3 form-password-toggle">
                                <div class="d-flex justify-content-between">
                                    <label class="form-label" for="password">Şifre</label>
                                    <a href="javascript:void(0);">
                                        <small>Şifremi Unuttum?</small>
                                    </a>
                                </div>
                                <div class="input-group input-group-merge">
                                    <input type="password" class="form-control" asp-for="Password" placeholder="············" aria-describedby="password" required />
                                    <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-me" />
                                    <label class="form-check-label" for="remember-me"> Beni Hatırla </label>
                                </div>
                            </div>

                            <div class="mb-3">
                                <button class="btn btn-primary d-grid w-100" type="submit">Giriş Yap</button>
                            </div>
                        </form>

                        <p class="text-center">
                            <span>Yeni misiniz?</span>
                            <a href="javascript:void(0);">
                                <span>Bize Katılın</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/assets/vendor/libs/jquery/jquery.js"></script>
    <script src="~/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/assets/vendor/js/bootstrap.js"></script>
    <script src="~/assets/vendor/js/menu.js"></script>
    <script src="~/assets/js/main.js"></script>
</body>
</html>